span.cm-color-0 { color: #4D4D4D; }
span.cm-color-1 { color: #2B44FF; }
span.cm-color-2 { color: #00B020; }
span.cm-color-3 { color: #009C97; }
span.cm-color-4 { color: #AD0000; }
span.cm-color-5 { color: #E600B8; }
span.cm-color-6 { color: #FF9D0A; }
span.cm-color-7 { color: #A6A6A6; }
span.cm-color-8 { color: #666666; }
span.cm-color-9 { color: #0077FFE6; }
span.cm-color-a { color: #51FF00; }
span.cm-color-b { color: #00FFFF; }
span.cm-color-c { color: #FF4747; }
span.cm-color-d { color: #FF3686; }
span.cm-color-e { color: #FFF530; }
span.cm-color-f { color: #FFFFFFE6; }
span.cm-color-m { font-style: italic; color: #FFFFFF; }
span.cm-color-l { font-weight: bold; color: #FFFFFF; }
span.cm-color-o { font-style: italic; color: #FFFFFF; }
span.cm-color-k { font-weight: bold; font-style: italic; color: #FFFFFF; }
span.cm-color-r { color: #FFFFFF; }